* {
    box-sizing: border-box;
}

html, body {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    height: 100%;
    color: #333;
    margin: 0;
    padding: 0;
}

body .main {
    background: #060f19;
}

.header-2 {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.wrap-sticky {
    position: relative;
}

.header-2 nav.navbar.bootsnav {
    background-color: transparent;
    border: none;
}

.wrap-sticky nav.navbar.bootsnav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

nav.navbar.bootsnav {
    margin-bottom: 0;
    border-radius: 0;
    z-index: 9;
    min-height: 50px;
}

nav.bootsnav .container {
    position: relative;
    width: 1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.attr-nav {
    float: right;
    display: inline-block;
    margin-left: 13px;
    margin-right: -15px;
}

.attr-nav > ul {
    padding: 0;
    margin: 0 0 -7px 0;
    list-style: none;
    display: inline-block;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attr-nav > ul > li {
    float: left;
    display: block;
}

.header-2 .attr-nav > ul > li > a {
    background: #ff1744;
}

.header-2 .attr-nav > ul > li > a {
    color: #fff;
    padding: 10px 26px;
    background: #f36522;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 100px;
    margin: 17px 0;
}

.attr-nav > ul > li > a {
    color: #6f6f6f;
    display: block;
    padding: 28px 15px;
    position: relative;
}

a {
    text-decoration: none;
    outline: none;
    border: none;
}

.navbar-header {
    float: left;
}

.navbar>.container .navbar-brand {
    margin-left: -15px;
}

.header-2 .navbar-brand {
    height: auto;
    margin-right: 50px;
}

.navbar-default .navbar-brand {
    color: #777777;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
    height: auto;
}

.navbar-left {
    float: left;
    margin-top: 35px;
}

.navbar-nav>li {
    float: left;
    position: relative;
}

.header-2 nav.navbar.bootsnav ul.nav > li > a {
    padding: 37px 15px;
}

nav.navbar.bootsnav ul.nav > li > a {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    margin-bottom: -2px;
    transition: all 0.4s ease-in-out;
}

nav.navbar.bootsnav ul.nav > li > a:hover {
    color: #ff1744;
}

/* beafore after */

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: '';
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}