body {
    margin: 0;
    padding: 0;
    background: #0d1734;
    color: #ffffff;
    font-family: "DejaVu Sans";
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

* {
    box-sizing: border-box;
}

.header {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    margin-bottom: 20px;
}

.header .header-main {
    height: 100px;
    border-bottom: 1px solid #a7a8ac;
    position: relative;
}

.logo {
    height: 100px;
    display: inline-flex;
    margin-right: 500px;
    cursor: pointer;
}

.logo img {
    width: 300px;
}

.navbar {
    height: 100px;
    display: inline-flex;
}

.navbar ul li {
    float: left;
    margin-left: 50px;
    line-height: 40px;
    color: #a7a8ac;
    cursor: pointer;
}

.navbar ul li.active {
    color: white;
    border-bottom: 5px solid #d95562;
    height: 67px;
}

.navbar ul li:hover {
    color: white;
}

.banner {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.banner .banner-header {
    margin-bottom: 10px;
}

.banner .banner-header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
}

.banner-container {
    width: 100%;
    margin: auto;
    position: relative;
}

.film-list {
    display: flex;
    padding-right: 80px;
    margin-left: 50px;
    float: left;
    margin-top: 15px;
}

.film {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background: #d95562;
    margin-left: 10px;
    position: relative;
    margin-right: 400px;
    box-shadow: 2px 2px 2px #d95562;
}

.film img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    opacity: .9;
}

.film .film-detail {
    position: absolute;
    width: 400px;
    height: 350px;
    background: white;
    left: 300px;
    top: 25px;
    box-shadow: 2px 2px 2px #d95562;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: #0d1734;
}

.film-detail .film-name {
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.film-detail .film-description {
    margin-top: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    height: 220px;
}

.film-detail .description-top {
    display: inline-flex;
}

.film-detail .description-top .film-genre {
    padding-left: 30px;
}

.film-detail p {
    line-height: 10px;
    color: #747474;
}

.film-detail .film-description span {
    font-size: 13px;
}

.film-detail .description-top .film-created span {
    color: #747474;
}

.film-detail .description-bottom {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 3px;
}

.film-detail .description-bottom div:first-child {
    border-right: 1px solid #ccc;
    padding-right: 35px;
}

.film-detail .description-bottom div {
    justify-content: center;
    justify-items: center;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.film-detail .description-bottom div p {
    text-align: center;
}

.film-detail .description-bottom div span {
    text-align: center;
}

.play-button {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #d95562;
    top: 150px;
    left: 100px;
    box-shadow: 2px 2px 2px 2px #0000008c;
    border-radius: 50%;
    padding: 25px;
    cursor: pointer;
    opacity: .7;
}

.play-button:hover {
    opacity: .9;
}

.play-button .button-icon img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.discover {
    width: 100%;
    position: relative;
    background: #0b1022;
    margin-top: 25px;
    display: inline-block;
}

.discover .discover-top {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-flex;
    width: 100%;
    background: #0d1734;
    padding-left: 50px;
    padding-right: 50px;
}

.discover .discover-top .header-left {
    float: left;
    width: 50%;
}

.header-left .discover-header {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 50px;
}

.discover .discover-top .header-right {
    float: right;
    width: 50%;
}

.header-right .discover-category {
    float: right;
    padding-right: 150px;
    padding-left: 50px;
    border-left: 1px solid #cccccc;
    height: 50px;
}

.drop {
    width: 150px;
    height: 50px;
    background: black;
    opacity: .5;
    padding: 15px 33px 15px 50px;
    display: inline-block;
    cursor: pointer;
}

.drop .drop-icon img {
    width: 20px;
    height: 15px;
    margin-left: 15px;
}

.drop-items {
    background: black;
    position: absolute;
    width: 150px;
    z-index: 999;
    opacity: .5;
}

.drop-items ul li {
    padding-top: 10px;
    cursor: pointer;
}

.drop-items ul li:hover {
    opacity: .5;
}

.VueCarousel {
    width: 90%;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filmimg {
    width: 300px;
    height: 200px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.filmimg:hover {
    transform: scale(1.2);
    margin-left: 30px;
    margin-right: 50px;
    animation-name: filmWidth;
    animation-duration: 1s;
    filter: drop-shadow(1px 1px 2px #d95562) opacity(40%);
    background: #0d1734;
    position: relative;
}

.VueCarousel-wrapper {
    height: 300px;
}

.VueCarousel-inner {
    margin-top: 50px;
}

.VueCarousel-slide {
    position: relative!important;
}

.VueCarousel-slide:nth-child(5) .filmimg:hover {
    padding-right: 25px;
    background: transparent;
}

.VueCarousel-slide:nth-child(10) .filmimg:hover {
    padding-right: 25px;
    background: transparent;
}

.VueCarousel-slide:nth-child(15) .filmimg:hover {
    padding-right: 25px;
    background: transparent;
}

@keyframes filmWidth {
    from {
        transform: scale(1);
        margin-left: 20px;
        margin-right: 20px;
    }
    to {
        transform: scale(1.2);
        margin-left: 30px;
        margin-right: 50px;
    }
}


.VueCarousel-navigation-prev {
    background: url("/static/images/DesktopImages/left.png");
    padding: 17px !important;
    cursor: pointer;
}

.VueCarousel-navigation-next {
    background: url("/static/images/DesktopImages/right.png");
    padding: 17px !important;
    cursor: pointer;
}

.VueCarousel-navigation-button {
    color: transparent!important;
}

.discover-container .category-name {
    position: absolute;
    left: 110px;
    z-index: 999;
}

.discover-container .category-name span.category-text {
    font-size: 20px;
    float: left;
    cursor: pointer;
    line-height: 50px;
}

.discover-container .category-name span.hide-next {
    display: none;
    position: absolute;
    margin-left: 90px;
    margin-top: 18px;
    animation-name: example;
    animation-duration: 1s;
    font-size: 13px;
}

@keyframes example {
    from {
        margin-left: 80px;
    }
    to {
        margin-left: 90px;
    }
}

.discover-container .category-name span:hover + span.hide-next {
    display: block;
    color: white;
}

.filmimg-container {
    display: none;
    top: 70px;
    position: absolute;
    z-index: 999;
    padding: 20px;
    text-shadow: 5px 5px 5px #000;
    pointer-events: none;
}


.filmimg-container .discover-detail-top {
    display: inline-flex;
    justify-items: center;
    margin-bottom: 10px;
}

.filmimg-container .discover-detail-top .discover-icon {
    padding-right: 20px;
}

.filmimg-container .discover-detail-top .discover-icon img {
    width: 30px;
    height: 30px;
}

.filmimg:hover + .filmimg-container {
    display: block;
    z-index: 999;
    position: absolute;
}

.filmimg-container .discover-detail-top .discover-minute {
    margin-top: 10px;
}

.filmimg-container .discover-detail-body {
    margin-bottom: 10px;
}

.filmimg-container .discover-detail-body .discover-filmname {
    font-size: 20px;
    text-transform: capitalize;
}

.filmimg-container .discover-detail-bottom span span.circle img {
    width: 10px;
    height: 10px;
}

.filmimg-container .discover-detail-bottom span:last-child span.circle {
    display: none;
}
